@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// MEDIA QUERIES
/* 

0 -600px : phone
600 - 900: tablet portrait
900 - 1200: tablet landscape
1200 - 1800: desktop
1800 + : large desktop

$breakpoint options
- mobile
- tab-port
- tab-land
- big-desktop


*/

$breakpoints: (
  phone: 37.5em,
  tab-port: 56.25em,
  tab-land: 75em,
  big-desktop: 112.5em
);


@mixin respond($breakpoint) {

  $breakpoint-value: map-get($map: $breakpoints, $key: $breakpoint);

  @media (max-width: $breakpoint-value) { @content };

}


@mixin respond-above($breakpoint) {

  $breakpoint-value: map-get($map: $breakpoints, $key: $breakpoint);

  @media (min-width: $breakpoint-value) { @content };

}